/*.xcodeproj/xcuserdata
/*.xcodeproj/project.xcworkspace/xcuserdata
/*.xcworkspace/xcuserdata

# CI/CD
DerivedData/
*.xcresult
xcodebuild.log
coverage.txt

# Build artifacts
build/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
